In [3]:
import pandas as pd

pd.read_json("../data/給与データ.json")

,FY21,FY22,FY23,FY24,FY25
1,"{'detail': [{'data': [{'data': 191.5, 'key': '...","{'detail': [{'data': [{'data': 7, 'key': '出勤'}...","{'detail': [{'data': [{'data': 14, 'key': '出勤'...","{'detail': [{'data': [{'data': 15, 'key': '出勤'...","{'detail': [{'data': [{'data': 17, 'key': '出勤'..."
2,"{'detail': [{'data': [{'data': 204, 'key': '勤務...","{'detail': [{'data': [{'data': 21, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 23, 'key': '出勤'...",NaN
3,"{'detail': [{'data': [{'data': 154.5, 'key': '...","{'detail': [{'data': [{'data': 18, 'key': '出勤'...","{'detail': [{'data': [{'data': 18, 'key': '出勤'...","{'detail': [{'data': [{'data': 21, 'key': '出勤'...",NaN
4,"{'detail': [{'data': [{'data': 170, 'key': '勤務...","{'detail': [{'data': [{'data': 148, 'key': '勤務...","{'detail': [{'data': [{'data': 21, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 15, 'key': '出勤'..."
5,"{'detail': [{'data': [{'data': 143.5, 'key': '...","{'detail': [{'data': [{'data': 139.25, 'key': ...","{'detail': [{'data': [{'data': 16, 'key': '出勤'...","{'detail': [{'data': [{'data': 16, 'key': '出勤'...","{'detail': [{'data': [{'data': 17, 'key': '出勤'..."
6,"{'detail': [{'data': [{'data': 176, 'key': '勤務...","{'detail': [{'data': [{'data': 178.5, 'key': '...","{'detail': [{'data': [{'data': 21, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 21, 'key': '出勤'..."
7,"{'detail': [{'data': [{'data': 207.5, 'key': '...","{'detail': [{'data': [{'data': 216.5, 'key': '...","{'detail': [{'data': [{'data': 22, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 19, 'key': '出勤'..."
8,"{'detail': [{'data': [{'data': 227.75, 'key': ...","{'detail': [{'data': [{'data': 131, 'key': '勤務...","{'detail': [{'data': [{'data': 17, 'key': '出勤'...","{'detail': [{'data': [{'data': 17, 'key': '出勤'...","{'detail': [{'data': [{'data': 18, 'key': '出勤'..."
9,"{'detail': [{'data': [{'data': 196.25, 'key': ...","{'detail': [{'data': [{'data': 145.5, 'key': '...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'..."
10,"{'detail': [{'data': [{'data': 269.5, 'key': '...","{'detail': [{'data': [{'data': 120.5, 'key': '...","{'detail': [{'data': [{'data': 18, 'key': '出勤'...","{'detail': [{'data': [{'data': 14, 'key': '出勤'...","{'detail': [{'data': [{'data': 13, 'key': '出勤'..."
11,"{'detail': [{'data': [{'data': 183, 'key': '勤務...",NaN,"{'detail': [{'data': [{'data': 21, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 21, 'key': '出勤'..."
12,"{'detail': [{'data': [{'data': 235.25, 'key': ...",NaN,"{'detail': [{'data': [{'data': 20, 'key': '出勤'...","{'detail': [{'data': [{'data': 21, 'key': '出勤'...","{'detail': [{'data': [{'data': 20, 'key': '出勤'..."

In [5]:
import json

with open("../data/給与データ.json", "r", encoding="utf-8") as f:
    data = json.load(f)

pd.json_normalize(data)

,FY21.1.detail,FY21.1.overview.bonus,FY21.1.overview.bonusTakeHome,FY21.1.overview.grossIncome,FY21.1.overview.netIncome,FY21.1.overview.operatingTime,FY21.1.overview.overtime,FY21.1.overview.payslipId,FY21.1.payslipId,FY21.1.salaryStructure.basicSalary,...,FY25.12.payslipId,FY25.12.salaryStructure.basicSalary,FY25.12.salaryStructure.bonus,FY25.12.salaryStructure.housingAllowance,FY25.12.salaryStructure.other,FY25.12.salaryStructure.overtimePay,FY25.12.salaryStructure.payslipId,FY25.12.salaryStructure.positionAllowance,FY25.12.targetDate,FY25.12.userId
0,"[{'data': [{'data': 191.5, 'key': '勤務時間'}, {'d...",0,0,251964,209538,193.5,35,36,36,220000,...,55,299500,1022000,50000,15815,11023,55,20000,"Sun, 01 Dec 2024 00:00:00 GMT",1